h1{
    color: red;
    font-size: 50px;
    font-weight: bold;
    text-align: center;

}
h2{
    color: blue;
    font-size: 40px;
    font-weight: bold;
    text-align: center;
}

h3{
    color: green;
    font-size: 30px;
    font-weight: bold;
    text-align: center;
}
h4{
    color: purple;
    font-size: 20px;
    text-align: center;
}
body {
  background-color: pink;
  margin: 0;
  padding: 0;
}
.highlight {
  background-color: yellow;

}
.error-text {
  color: red;
}

p{
    font-family: Arial, Helvetica, sans-serif
}

.box{
    background-color: lightblue;
    padding: 10px;
    margin: 5px 0;
}
#special{
    background-color: lightgreen;
    font-weight: bold;
}